body{
	background-color: #ff0000;
}

p{
	width: 100%;
	font-size: 30px;
	font-family: arial;
	margin: auto;
	color: #ffc700;
	position: absolute;
	text-align: center;
}

table{
	position: relative;
	top: 50px;
	margin: 0 auto;
	background-color: #edffdb;
	border: 1px solid #000000;
	width: 400px;
	height: 400px;
	border-collapse: collapse;
}

.wrapper{
	text-align: center;
}

#clear{
	font-family: sans-serif;
	font-size: 15px;
	position: absolute;
	margin: 0 auto;
	background-color: #fcfcfc;
	top: 475px;
	left: 760px;
	border-radius: 100px;
}

.reset{
	background-color: #fcfcfc;
}




